@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  cursor:
    url("https://9da97esnbfzl3gah.public.blob.vercel-storage.com/cursor.svg") 32
      32,
    auto;
}

button,
a,
.invite-btn {
  cursor:
    url("https://9da97esnbfzl3gah.public.blob.vercel-storage.com/cursor.svg") 32
      32,
    pointer;
}

.eight-svg {
  width: 450px;
}
